    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Your Graphs</h1>
        </br>
        <% if !@graphs.empty? %>
          <table class="table table-striped">
            <tr>
              <th>Graph ID</th>
              <th>Name</th>
              <th>Number of nodes</th>
              <th>Description</th>
              <th></th>
            </tr>
            <% @graphs.each do |graph| %>
              <tr>
                <td><%= graph.id %></td>
                <td><%= graph.name %></td>
                <td><%= graph.nodes.count %></td>
                <td><%= graph.description %></td>
                <td><%= link_to "Examine", graph %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <div class="message">You haven't completed any graphs yet</div>
        <% end %>
      </div>
    </div>
