<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).empty? ? "Nodr: Browse Better" : yield(:title) %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "jquery", "scrollto", "application" %>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="<%= yield(:title).empty? ? "Nodr: Browse Better" : yield(:title) %>" /> 
    <meta property="og:image" content="/assets/fb_logo.jpg" />
    <meta property="og:description" content="Nodr provides a more intelligent way to browse the web." />
  </head>

  <body>
    <%= render 'sessions/header' %>
    <%= render 'globals/flash', :flash => flash %>
    <%= yield %>
  </body>

</html>