<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).empty? ? "Nodr: Browse Better" : yield(:title) %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="<%= yield(:title).empty? ? "Nodr: Browse Better" : yield(:title) %>" /> 
    <meta property="og:image" content="/assets/fb_logo.jpg" />
    <meta property="og:description" content="Nodr provides a more intelligent way to browse the web." />
  </head>

  <body>
    <div class="wrapper">
      <%= render 'main/header' %>
      <%= yield %>
    </div>
    <%= render 'main/footer' %>
  </body>

</html>
